
html {
    scroll-behavior: smooth;
}
/*.inicio {
    background-image: url("https://images.pexels.com/photos/5011647/pexels-photo-5011647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    color: #f7f3f3;
}*/

.modo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-height: 470px; /* altura máxima */
  overflow: hidden; /* ocultar contenido que se exceda de la altura máxima */
  opacity: 85%;
  width: 100vw
}




header {
  position: relative;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items:center;
  justify-content: center;
  
}

.inicio .contenido {
  /*max-width: 1000px;*/
    margin: auto;
    color: azure;
    text-align: center;
    padding: 0 10px;
    margin-top: 30px;
  }
/* Estilo de la foto */
#perfil {
    max-width: 120px;
    margin-top: 10px;
  }
  
  /* Estilo del título */
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .profesion {
    font-size: 21px;
    font-weight:bold;
  }

  /* Estilo del subtitulo */
  .informaciones {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
  }

  /*Estilo de la frase célebre*/
  .frase {
    width: 200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  /*ACERCA DE MI*/
  .about h2{
    text-align: center;
  }
  .about {
    /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);*/
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
  }
  
  
  /* Estilo de los botones */
.boton_mas {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 5px;
  color: rgb(255, 255, 255);
}
button {
  background-color: #2d78ce;
}

.boton_mas :hover {
    color: azure;
    background-color: #f0087c;
}
  /* Estilo de la información */
  .cuerpo {
    background-image: url("https://images.pexels.com/photos/5011647/pexels-photo-5011647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    color: #f7f3f3;
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    }
  
  /* Estilo de los iconos de redes sociales */
  .list-inline li {
    margin: auto;
    align-items: center;
  }
  
  .list-inline li a {
    color: #fdfdfd;
    font-size: 24px;
  }
  
  .list-inline li a:hover {
    color: #f0087c;
    text-decoration: none;
  }

   /*Estilo de las IMAGENES*/
  img {
    max-width: 400px;
    max-height: 200px; 
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /*Contenedor de imagenes*/
  .conteiner {
    align-items: center;
  }
  /*Dar información al pasar el cursor por la imagen y el botón mostrar info*/
  .image-container {
    position: relative;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }
 
  .image-info {
    position:absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(14, 13, 13, 0.822);
    padding: 10px;
    display: none;
    border-radius: 20px;
  }
  .image-info  p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    .image-container:hover .image-info {
      display:block;
    }
  }
  button {
    border-radius: 5px;

  }
  .show-info-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.473);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    display: none;
  }
  
  @media screen and (max-width: 767px) {
    .show-info-button {
      display: block;
    }
  
    .image-info {
      display: none;
    }
  }
  
  /*CONTACTO*/
  h3 {
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.767);
  }
  form {
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #0303034f;
    color: azure;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    background-color: #0808084f;
  }
  
  button[type="submit"] {
    background-color: #2d78ce;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 50px;
  
  }
  button {
    display: block;
    margin: 0 auto;
  }
  button[type="submit"]:hover {
    background-color: #f0087c;
  }
  
  footer {
    text-align: center;
    margin-bottom: 30px;
  }